<ion-header>
  <ion-toolbar color="mycolor">
      <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="6">
        <div class="texto">
          <p>text1</p>
        </div>
      </ion-col>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="6">
        <div class="texto">
          <p>text2</p>
        </div>
      </ion-col>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="9">
        <div class="texto">
          <p>text3</p>
        </div>
      </ion-col>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="3">
        <div class="texto">
          <p>text4</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <div class="container">
    <button ion-button class="btn" [routerLink]="['/customers']">Go to customers</button>
  </div> -->
</ion-content>
